body {
    background-color: rgb(99, 114, 124);
    margin: 0px;
}

main {
    text-align: center;
    padding: 10px;
    font-family: "Audiowide", sans-serif;
    position: relative;
}

#loss {
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: drop-shadow(6px 6px 10px black);
}
#win {
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: drop-shadow(6px 6px 10px black);
}
#loss button {
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    height: 100px;
    width: 500px;
    background-color: rgb(118, 121, 121);
    border: 3px solid black;
    border-radius: 10px;
}
#loss button:hover {
    transform: scale(1.1);
    transition: all .3s;
}
#win button {
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    height: 100px;
    width: 500px;
    background-color: rgb(118, 121, 121);
    border: 3px solid black;
    border-radius: 10px;
}
#win button:hover {
    transform: scale(1.1);
    transition: all .3s;
}
button {
    cursor: pointer;
    filter: drop-shadow(6px 6px 10px black);
}

.result {
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#change {
    font-size: 35px;
}
.title {
    font-size: 85px;
    border: 3px solid black;
    border-radius: 20px;
    height: auto;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    filter: drop-shadow(5px 5px 7px black);
}
.wins {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wins div {
    height: auto;
    width: 350px;
}
.wins div p {
    text-align: left;
}
.playerSelect {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.rock {
    position: relative;
    font-family: "Audiowide", sans-serif;
}
.rock div {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.rock:hover div {
    opacity: 1;
    transition: .3s ease;
}
.paper {
    position: relative;
    font-family: "Audiowide", sans-serif;
}

.paper div {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.paper:hover div {
    opacity: 1;
    transition: .3s ease;
}

.scissors {
    position: relative;
    font-family: "Audiowide", sans-serif;
}
.scissors div {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.scissors:hover div {
    opacity: 1;
    transition: .3s ease;
}

.playerSelect button {
    background-color: rgb(162, 165, 165);
    border: 3px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 10px;
}
.playerSelect button:hover {
    background-color: rgb(0, 142, 142);
    transform: scale(1.1);
    transition: all .3s;
}
.copyright {
    position:fixed;
    bottom: 0px;
    z-index: 999;
    width:100%;
    height:50px;
    background-color: rgb(46, 53, 58);
    padding: 5px;
    border-top: 5px solid rgb(15, 17, 19);
    text-align: center;
    color: gray;
}

.playerSelect img {
    height: 75%;
    width: 75%;
}
#p, #c {
    font-size: 30px;
}
.wins h1 {
    font-size: 50px;
}