body {
    background-color: rgb(99, 114, 124);
    margin: 0px;
}

main {
    text-align: center;
    padding: 10px;
}

.title {
    font-family: "Audiowide", sans-serif;
    font-size: 75px;
    border: 3px solid black;
    border-radius: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wins {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wins div {
    height: auto;
    width: 300px;
}
.wins div p {
    text-align: left;
}
.playerSelect {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.playerSelect button {
    background-color: rgb(162, 165, 165);
    border: 3px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 10px;
}
.playerSelect button:hover {
    background-color: rgb(0, 142, 142);
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s;
}
.copyright {
    position:fixed;
    width:100%;
    background-color: rgb(46, 53, 58);
    padding: 5px;
    border-top: 5px solid rgb(15, 17, 19);
    text-align: center;
}